.bg-img {
    /* The image used */
    background-image: url("images/redback.png");
  
    min-height: 536px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
  }
  .logo{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
  /* Position the navbar container inside the image */
  .container {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 519px;
  left:50%;
  transform: translate(-50%, -50%);
  }
  
  .navbutton{
    background-color: #FFD33C;
    width: 100px;
    height: 35px;
    border-radius: 10px 10px 0 0;
    border-color: #FFD33C;
    color: black;
    margin: 4px;
  }

  .navbutton:hover {
    background-color:white;
    border-color: white;
    color: black;
  }
  .navbutton:active {
    background-color:white;
    border-color: white;
    color: black;
  }
  button:focus {outline:0;}

  .profile{
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
    font-size: 18px;
    color:black;
  }

  .content{
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
  }

  .responsive {
    width: 100%;
  }
  img{
    padding-bottom: 20px;
  }
  h4{
    color: #A00101;
  }

  .footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:20px;
    padding-bottom: 20px;
    display: inline-block;
    color: white;
  }

  a{
    color: white;
  }

  a:hover{
    color: #FFD33C;
  }

  #element1 {
    float:left;
  }
  #element2 {
    float:right;
  }
