.bg-img {
    /* The image used */
    background-image: url("images/redback.png");
  
    min-height: 536px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
  }
  img{
    float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
  /* Position the navbar container inside the image */
  .container {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 519px;
  left:50%;
  transform: translate(-50%, -50%);
  }
  
  .navbutton{
    background-color: #FFD33C;
    width: 100px;
    height: 35px;
    border-radius: 10px 10px 0 0;
    border-color: #FFD33C;
    color: black;
    margin: 4px;
  }

  .navbutton:hover {
    background-color:white;
    border-color: white;
    color: black;
  }
  .navbutton:active {
    background-color:white;
    border-color: white;
    color: black;
  }
  button:focus {outline:0;}